<div class="modal fade" id="modalIntro" tabindex="-1" role="dialog" aria-labelledby="modalIntro" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header pt-4">
                <h5 class="modal-title">Modelmode {{ version }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-4">
                <p>Recent updates:</p>
                <p class="m-0"><i class="fas fa-check-square mr-1"></i> Improved user interface (styling)</p>
                <p class=""><i class="fas fa-check-square mr-1"></i> Column selection is stored per session</p>
                <p>Upcoming updates:</p>
                <p class="m-0"><i class="fas fa-square mr-1"></i> Custom stock form to add and edit (not available via autocomplete or API)</p>
                <p class="m-0"><i class="fas fa-square mr-1"></i> Earnings today (with email notification)</p>
                <p class=""><i class="fas fa-square mr-1"></i> IPO calendar</p>
                <p class="m-0">I also added payments with <a href="https://stripe.com" target="_blank" style="text-decoration: underline;">Stripe</a>, so you can support development (and get upgraded features!). As always, feel free to contact me on <a href="https://twitter.com/sjoebergco" target="_blank" style="text-decoration: underline;">Twitter</a>.</p>
            </div>
        </div>
    </div>
</div>