/*
PRUSSIAN BLUE           : #0B3C53       : rgb(11, 60, 83)
CYAN CORNFLOWER BLUE    : #328CC1       : rgb(50, 140, 193)
GOLDENROD               : #D9B310       : rgb(217, 179, 16)
DARK GUNMETAL           : #1D2731       : rgb(29, 39, 49) 
WHITE SMOKE             : #F4F4F4       : rgb(244, 244, 244)

VOID                    : #0E0B16       : rgb(14, 11, 22)
NIGHT MODE              : #26232C       : rgb(38, 35, 44)

ROSE MADDER             : #E02134       : rgb(224, 33, 52)
DARK PASTEL GREEN       : #18B23C       : rgb(24, 178, 60)
*/

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

/*::-webkit-scrollbar             { width: auto; }*/
/*::-webkit-scrollbar-track       { background: transparent; }*/
/*::-webkit-scrollbar-thumb       { background: rgba(255, 255, 255, 0.50); }*/
/*::-webkit-scrollbar-thumb:hover { background: #0E0B16; }*/

html { 
    min-height          : 100%;
    cursor              : auto;
}

html.wait {cursor: wait; }

body {
    height              : 100%;
    overflow            : hidden;
    color               : rgb(29, 39, 49);     
    font-family         : 'Lato', sans-serif;
    background-color    : transparent; 
}

div.unsplash-badge {
    position            : absolute;
    top                 : 0;
    right               : 0;
    padding             : 1rem;
    display             : inline-block;
}

html.startpage section#splash { background: transparent; }

.border-top { border-top: 2px solid rgba(0,0,0,0.1) !important; }

/* START TEST */
.StripeElement {
    width               : 100%;
    color               : rgb(29, 39, 49);
    background-color    : rgba(0, 0, 0, 0.05);
    border-radius       : 0.25rem;
    padding             : .46875rem 15px;
    border              : 0px solid transparent;
    transition          : color .15s ease-in-out,
                          background-color .15s ease-in-out,
                          border-color .15s ease-in-out,
                          box-shadow .15s ease-in-out;
}

.StripeElement::placeholder { color: rgba(14, 11, 22, 0.50); }

.StripeElement--focus { 
    background-color    : rgb(255, 255, 255);
    border              : 0;
    border-color        : rgb(29, 39, 49);
    box-shadow          : 0 0 0 0.2rem rgba(0, 0, 0, 0.10);
}

.StripeElement--invalid { border-color: rgb(224, 33, 52); }

.StripeElement--webkit-autofill { background-color: rgba(14, 11, 22, 0.50) !important; }
/* END TEST */

/* page progres */
.pace .pace-progress {
    background          : rgb(50, 140, 193) !important;
    z-index             : 2000 !important;
    bottom              : auto !important;
    height              : 2px !important; 
}

a { 
    outline             : 0 !important; 
    transition          : color .15s ease-in-out,
                          background-color .05s ease-in-out,
                          border-color .05s ease-in-out,
                          box-shadow .05s ease-in-out;
}

.text-success { color: rgb(24, 178, 60) !important; }
.text-danger { color: rgb(224, 33, 52) !important; }

/*.bg::after {
    content             : "";
    background          : url('bg.jpg') no-repeat center center;
    background-size     : cover;
    opacity             : 1; 
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}*/

.btn-raised,
.btn-raised:focus,
.btn-raised:hover,
.btn-raised.active { box-shadow: none !important; }

.btn { padding: 0.4rem 1rem !important; }

/* override bold */
.font-weight-bold { font-weight: 600 !important; }

/* override form control */
.form-control { 
    background-image    : none !important;
    border-radius       : 0.25rem;
    padding             : .46875rem 15px;
    transition          : color .15s ease-in-out,
                          background-color .15s ease-in-out,
                          border-color .15s ease-in-out,
                          box-shadow .15s ease-in-out;
}

/* override card */
.card {
    font-size           : inherit !important;
    font-weight         : inherit !important;
    box-shadow          : none;
}

/* override dropdown menu */
.dropdown-menu { box-shadow: 0px 1px 10px 1px rgba(210, 210, 210, 0) !important; }

.nav-link {
    text-transform      : none !important;
    position            : relative;
}

.navbar-nav .nav-link { font-weight: 600; }

form { margin-bottom: 0 !important; }

.navbar-collapse.show {
    margin-right        : -15px;
    margin-left         : -15px;
    margin-top          : 8px; 
}

.navbar-collapse.show .nav-item { padding: 1rem; }

.badge-secondary {
    color               : rgb(29, 39, 49) ;
    background-color    : rgba(255, 255, 255, 1);
    padding             : 8px 12px;
}

.vertical-center {
    position            : relative;
    top                 : 30%;
    transform           : translateY(-30%);
}

/* override button danger */
.btn-danger { background-color: rgb(224, 33, 52) !important; }

.no-sort::after { display: none!important; }
.no-sort { pointer-events: none!important; cursor: default!important; }

.input-group>.custom-select:not(:last-child),
.input-group>.form-control:not(:last-child) {
    border-top-left-radius         : 0.25rem;
    border-bottom-left-radius      : 0.25rem;
}

/* override form-control */
select.form-control:not([size]):not([multiple]) { height: inherit !important; }

/* override modal */
.modal-dialog {
    max-width           : 600px;
    margin              : 0.5rem auto;
}

.modal-dialog-400 { max-width: 400px !important;  }
.modal-dialog-500 { max-width: 500px !important;  }

/* NOMRAL MODE
----------------------------------------------- */
html.startpage.normal-mode { background-color: rgba(29, 39, 49, 0.05) !important;}

html.normal-mode { background-color: rgba(29, 39, 49, 0.05); }

html.normal-mode body { color: rgb(29, 39, 49); }

html.normal-mode .divider {
    height                  : 1px;
    background-color        : rgba(29, 39, 49, 0.05);
}

html.normal-mode .card { 
    /*border-bottom: 0.2rem solid rgba(29, 39, 49, 0.25);*/
    box-shadow: 0 0.2rem 0 0 rgba(29, 39, 49, 0.1);
}

html.normal-mode a.button-table { color: rgba(29, 39, 49, 0.25) !important; }

html.normal-mode a.button-table:focus,
html.normal-mode a.button-table:hover { color: rgba(29, 39, 49, 1) !important; }

html.normal-mode a.button-table.danger:focus,
html.normal-mode a.button-table.danger:hover { color: rgb(247, 33, 33) !important; }

html.normal-mode .navbar { background-color: rgb(255, 255, 255); }

html.normal-mode h1,
html.normal-mode .h1 { color: rgb(29, 39, 49); }

html.normal-mode p,
html.normal-mode a,
html.normal-mode a.page-link { color: rgb(29, 39, 49); }

html.normal-mode a:hover,
html.normal-mode a:focus
html.normal-mode a.page-link:hover,
html.normal-mode a.page-link:focus { color: rgb(50, 140, 193); }

html.normal-mode .card p,
html.normal-mode .card a,
html.normal-mode .modal p,
html.normal-mode .modal a,
html.normal-mode .modal h5,
html.normal-mode .modal label { color: rgb(29, 39, 49); }

html.normal-mode .card p.card-text { color: rgb(29, 39, 49); } 

html.normal-mode .modal-content { 
    background-color    : rgb(243, 243, 244);
    box-shadow          : 0 0.2rem 0 0 rgba(29, 39, 49, 0) !important;
}

/* alerts */
html.normal-mode .alert-success {
    color               : rgb(255, 255, 255);
    background-color    : rgb(24, 178, 60);
    border-color        : transparent;
}
html.normal-mode .alert-danger {
    color               : rgb(255, 255, 255);
    background-color    : rgb(224, 33, 52);
    border-color        : transparent;
}
/*html.normal-mode .alert-secondary {
    color               : rgb(29, 39, 49) ;
    background-color    : #DFDFDF;
    border-color        : transparent;
}*/

/* override form styling */
html.normal-mode input.form-control {
    color               : rgb(29, 39, 49) ;
    background-color    : rgba(29, 39, 49, 0.05);
}
html.normal-mode input.form-control:focus {
    background-color    : rgb(255, 255, 255);
    /*border-color        : rgb(29, 39, 49);*/
    box-shadow          : 0 0 0 0.2rem rgba(29, 39, 49, 0.10);
}

html.normal-mode input[type="search"].form-control {
    background-color    : rgb(255, 255, 255);
    border-color        : rgb(29, 39, 49) ;
    box-shadow          : 0 0 0 0.2rem rgba(29, 39, 49, 0.10);
}

html.normal-mode input[type="search"].form-control:focus {
    background-color    : rgb(255, 255, 255);
    border-color        : rgb(29, 39, 49) ;
    box-shadow          : 0 0 0 0.2rem rgb(29, 39, 49);
}

html.normal-mode select.form-control {
    cursor              : pointer;
    color               : rgba(29, 39, 49, 0.25);
    background          : rgba(29, 39, 49, 0.05);
    transition          : color .15s ease-in-out,
                          background-color .15s ease-in-out,
                          border-color .15s ease-in-out,
                          box-shadow .15s ease-in-out;
}

html.normal-mode select.form-control:hover,
html.normal-mode select.form-control:focus {
    color               : rgba(29, 39, 49, 1);
    background          : rgba(29, 39, 49, 0.10);
    box-shadow          : 0 0 0 0.2rem rgba(29, 39, 49, 0);
}

html.normal-mode input.form-control:disabled,
html.normal-mode input.form-control[readonly] { background-color: rgba(29, 39, 49, 0.05); }

html.normal-mode input.form-control::-webkit-input-placeholder   { color: rgba(29, 39, 49, 0.25); }  /* WebKit, Blink, Edge */
html.normal-mode input.form-control:-moz-placeholder             { color: rgba(29, 39, 49, 0.25); }  /* Mozilla Firefox 4 to 18 */
html.normal-mode input.form-control::-moz-placeholder            { color: rgba(29, 39, 49, 0.25); }  /* Mozilla Firefox 19+ */
html.normal-mode input.form-control:-ms-input-placeholder        { color: rgba(29, 39, 49, 0.25); }  /* Internet Explorer 10-11 */
html.normal-mode input.form-control::-ms-input-placeholder       { color: rgba(29, 39, 49, 0.25); }  /* Microsoft Edge */

/* btn-light (autocomplete) */
html.normal-mode .form-control .btn-light {
    outline             : 0 !important; 
    font-weight         : 400; 
    color               : rgba(29, 39, 49, 0.25);
    background-color    : rgba(29, 39, 49, 0.05);
}

html.normal-mode .form-control .btn-light:hover {
    outline             : 0 !important; 
    color               : rgba(29, 39, 49, 1);
    background-color    : rgba(29, 39, 49, 0.10);
}

html.normal-mode .form-control .btn-light:focus,
html.normal-mode .form-control .btn-light.focus {
    outline             : 0 !important; 
    background-color    : rgba(29, 39, 49, 0.10);
    border-color        : transparent;
}

/* primary button */
html.normal-mode .btn-raised.btn-primary {
    color               : rgb(244, 244, 244);
    background-color    : rgb(29, 39, 49);
    border-color        : rgb(29, 39, 49);
}

html.normal-mode .btn-raised.btn-primary:hover,
html.normal-mode .btn-raised.btn-primary:focus {
    color               : rgb(244, 244, 244);
    background-color    : rgb(29, 39, 49);
    border-color        : rgb(29, 39, 49);

    -webkit-filter      : opacity(.95);
    filter              : opacity(.95);
}

html.normal-mode .btn-raised.btn-primary:not(:disabled):not(.disabled):active,
html.normal-mode .btn-raised.btn-primary:not(:disabled):not(.disabled).active,
html.normal-mode .show > html.normal-mode .btn-raised.btn-primary.dropdown-toggle {
    color               : rgb(244, 244, 244);
    background-color    : rgb(29, 39, 49) ;
    border-color        : rgb(29, 39, 49) ;
}

/* button outline */
html.normal-mode .btn.btn-raised.btn-outline,
html.normal-mode .btn.btn-raised.btn-outline:focus {
    color               : rgba(29, 39, 49, 0.25);
    border-color        : rgba(29, 39, 49, 0);
    transition          : color .15s ease-in-out,
                          background-color .15s ease-in-out,
                          border-color .15s ease-in-out,
                          box-shadow .15s ease-in-out;
}

html.normal-mode .btn.btn-raised.btn-outline:hover {
    background-color    : transparent;
    color               : rgb(217, 179, 16);
}

html.normal-mode .btn.btn-raised.btn-outline.active {
    background-color    : transparent;
    color               : rgb(217, 179, 16);
    border-color        : rgb(217, 179, 16);
}

/* navigation tabs */
html.normal-mode .tab-content { background-color: rgb(255, 255, 255); }

html.normal-mode .nav-tabs .nav-link {
    margin-bottom       : 0.2rem;
    border-bottom       : 0 solid rgba(0,0,0,0);
    color               : rgba(29, 39, 49, 0.5);
}

html.normal-mode .nav-tabs .nav-link:focus,
html.normal-mode .nav-tabs .nav-link:hover { color: rgba(29, 39, 49, 1); }

html.normal-mode .nav-tabs .nav-item.show .nav-link,
html.normal-mode .nav-tabs .nav-link.active {
    color               : rgba(29, 39, 49, 1);
    background-color    : transparent;
    border-bottom       : 0 solid rgba(0,0,0,0);
    box-shadow          : 0 0.2rem 0 0 rgba(29, 39, 49, 0.1);
}

/* table elements */
html.normal-mode label,
html.normal-mode th,
html.normal-mode td,
html.normal-mode .dataTables_info { color: rgb(29, 39, 49); }

html.normal-mode table#tableStocks.dataTable tr.odd { background-color: rgba(29, 39, 49, 0.05); }

html.normal-mode table#tableStocks.dataTable tr:hover,
html.normal-mode table#tableStocks.dataTable tr:focus,
html.normal-mode table#tableStocks.dataTable tr.odd:hover,
html.normal-mode table#tableStocks.dataTable tr.odd:focus { background-color: rgba(29,39,49,0.10); }

/* NIGHT MODE
----------------------------------------------- */
html.startpage.night-mode { background-color: rgba(14, 11, 22, 0.95) !important;}

html.night-mode { background-color: rgba(14, 11, 22, 0.95); }

html.night-mode body { color: rgb(244, 244, 244); }

html.night-mode .divider {
    height                  : 1px;
    background-color        : rgb(38, 35, 44);
}

html.night-mode .card {
    /*border-bottom: 2px solid rgba(255,255,255,0.1);*/
    box-shadow: 0 0.2rem 0 0 rgba(244, 244, 244, 0.1);
}

html.night-mode .navbar-toggler { color: rgb(244, 244, 244); }

html.night-mode .navbar-collapse.show { background-color: rgb(38, 35, 44); }

html.night-mode .navbar { background-color: rgb(38, 35, 44); }

html.night-mode a.button-table { color: rgba(244, 244, 244,0.15) !important; }

html.night-mode a.button-table:focus,
html.night-mode a.button-table:hover { color: rgb(244, 244, 244) !important; }

html.night-mode a.button-table.danger:focus,
html.night-mode a.button-table.danger:hover { color: rgb(247, 33, 33) !important; }

html.night-mode h1,
html.night-mode .h1 { color: rgb(244, 244, 244); }

html.night-mode p,
html.night-mode a,
html.night-mode a.page-link { color: rgb(244, 244, 244); }

html.night-mode a:hover,
html.night-mode a:focus
html.night-mode a.page-link:hover,
html.night-mode a.page-link:focus { color: rgb(50, 140, 193); }

html.night-mode .card p,
html.night-mode .card a { color: rgb(244, 244, 244); }

html.night-mode .modal p,
html.night-mode .modal a,
html.night-mode .modal h5,
html.night-mode .modal label { color: rgb(244, 244, 244) ; }

html.night-mode .modal-content { 
    background-color    : rgb(26, 23, 32);
    box-shadow          : 0 0.2rem 0 0 rgba(244, 244, 244, 0) !important;
}

html.night-mode .modal-content .close { color: rgb(244, 244, 244); }

/* alerts */
html.night-mode .alert-success {
    color               : rgb(244, 244, 244);
    background-color    : rgb(24, 178, 60);
    border-color        : transparent;
}
html.night-mode .alert-danger {
    color               : rgb(244, 244, 244);
    background-color    : rgb(224, 33, 52);
    border-color        : transparent;
}
html.night-mode .alert-secondary {
    color               : rgb(244, 244, 244);
    background-color    : rgb(38, 35, 44);
    border-color        : transparent;
}

/* override form styling */
html.night-mode input.form-control {
    color               : rgb(244, 244, 244);
    background-color    : rgb(38, 35, 44);
}

html.night-mode input.form-control:focus {
    background-color    : transparent;
    box-shadow          : 0 0 0 0.2rem rgb(38, 35, 44);
}

html.night-mode input.form-control:disabled,
html.night-mode input.form-control[readonly] { background-color: rgba(244, 244, 244, 0.05); }

html.night-mode input[type="search"].form-control {
    background-color    : rgb(38, 35, 44);
    box-shadow          : 0 0 0 0.2rem rgba(244, 244, 244, 0.10);
}

html.night-mode input[type="search"].form-control:focus {
    background-color    : #26232C;
    box-shadow          : 0 0 0 0.2rem rgb(244, 244, 244);
}

html.night-mode select.form-control {
    cursor              : pointer;
    color               : rgba(244, 244, 244, 0.25);
    background          : rgb(38, 35, 44);
    transition          : color .15s ease-in-out,
                          background-color .15s ease-in-out,
                          border-color .15s ease-in-out,
                          box-shadow .15s ease-in-out;
}

html.night-mode select.form-control:hover,
html.night-mode select.form-control:focus {
    color               : rgba(244, 244, 244, 1);
    background          : rgb(38, 35, 44);
    box-shadow          : 0 0 0 0 rgba(0, 0, 0, 0);
}

html.night-mode input.form-control::-webkit-input-placeholder    { color: rgba(244, 244, 244, 0.25); }  /* WebKit, Blink, Edge */
html.night-mode input.form-control:-moz-placeholder              { color: rgba(244, 244, 244, 0.25); }  /* Mozilla Firefox 4 to 18 */
html.night-mode input.form-control::-moz-placeholder             { color: rgba(244, 244, 244, 0.25); }  /* Mozilla Firefox 19+ */
html.night-mode input.form-control:-ms-input-placeholder         { color: rgba(244, 244, 244, 0.25); }  /* Internet Explorer 10-11 */
html.night-mode input.form-control::-ms-input-placeholder        { color: rgba(244, 244, 244, 0.25); }  /* Microsoft Edge */

/* btn-light (autocomplete) */
html.night-mode .btn-light {
    outline             : 0 !important; 
    font-weight         : 400; 
    color               : rgba(244, 244, 244, 0.25);
    background-color    : rgb(38, 35, 44);
}

html.night-mode .btn-light:hover {
    outline             : 0 !important; 
    color               : rgba(244, 244, 244, 1);
    background-color    : rgba(244, 244, 244, 0.10);
}

html.night-mode .btn-light:focus,
html.night-mode .btn-light.focus {
    outline             : 0 !important; 
    background-color    : rgb(38, 35, 44);
    border-color        : transparent;
    box-shadow          : 0 0 0 0rem rgba(0, 0, 0, 0);
}

/* primary button */
html.night-mode .btn-raised.btn-primary {
    color               : rgb(244, 244, 244);
    background-color    : rgb(29, 39, 49);
    border-color        : rgb(29, 39, 49);
}

html.night-mode .btn-raised.btn-primary:hover,
html.night-mode .btn-raised.btn-primary:focus {
    color               : rgb(244, 244, 244);
    background-color    : rgb(29, 39, 49);
    border-color        : rgb(29, 39, 49);

    -webkit-filter      : opacity(.95);
    filter              : opacity(.95);
}

html.night-mode .btn-raised.btn-primary:not(:disabled):not(.disabled):active,
html.night-mode .btn-raised.btn-primary:not(:disabled):not(.disabled).active,
html.night-mode .show > html.night-mode .btn-raised.btn-primary.dropdown-toggle {
    color               : rgb(244, 244, 244);
    background-color    : rgb(29, 39, 49);
    border-color        : rgb(29, 39, 49);
}

/* button outline */
html.night-mode .btn.btn-raised.btn-outline,
html.night-mode .btn.btn-raised.btn-outline:focus {
    color               : rgba(244, 244, 244, 0.25);
    border-color        : rgba(244, 244, 244, 0);
    transition          : color .15s ease-in-out,
                          background-color .15s ease-in-out,
                          border-color .15s ease-in-out,
                          box-shadow .15s ease-in-out;
}

html.night-mode .btn.btn-raised.btn-outline:hover {
    background-color    : transparent;
    color               : rgb(217, 179, 16);
}

html.night-mode .btn.btn-raised.btn-outline.active {
    background-color    : transparent;
    color               : rgb(217, 179, 16);
    border-color        : rgb(217, 179, 16);
}

/* navigation tabs */
html.night-mode .tab-content { background-color: rgb(38, 35, 44); }

html.night-mode .nav-tabs .nav-link {
    margin-bottom       : 0.2rem;
    border-bottom       : 0 solid rgba(244,244,244,0.1);
    color               : rgba(244, 244, 244, 0.5);
}

html.night-mode .nav-tabs .nav-link:focus,
html.night-mode .nav-tabs .nav-link:hover { color: rgba(244, 244, 244, 1); }

html.night-mode .nav-tabs .nav-item.show .nav-link,
html.night-mode .nav-tabs .nav-link.active {
    color               : rgba(244, 244, 244, 1);;
    background-color    : transparent;
    border-bottom       : 0rem solid rgba(244,244,244,0.1);
    box-shadow          : 0 0.2rem 0 0 rgba(244, 244, 244, 0.10);
}

/* table elements */
html.night-mode label,
html.night-mode th,
html.night-mode td,
html.night-mode .dataTables_info { color: rgb(244, 244, 244); }

html.night-mode table#tableStocks.dataTable tr.odd { background-color: rgba(244, 244, 244, 0.05); }

html.night-mode table#tableStocks.dataTable tr:hover,
html.night-mode table#tableStocks.dataTable tr:focus,
html.night-mode table#tableStocks.dataTable tr.odd:hover,
html.night-mode table#tableStocks.dataTable tr.odd:focus { background-color: rgba(244, 244, 244, 0.10); }


/* BASE
----------------------------------------------- */
/*.bg-dark { background-color: rgb(29, 39, 49)  !important; }*/

.navbar {
    position            : fixed;
    width               : 100%;
    z-index             : 1000; 
    box-shadow          : none; 
}

.modal { z-index: 3000; }

#content {
    position                : absolute;
    top                     : 0;
    bottom                  : 0;
    left                    : 0;
    right                   : 0;
    overflow                : auto; 
    margin-top              : 52px; 
}

#content { overflow-y: auto; } 

img { max-height: 38px; margin: 0; }

p.xsmall, 
span.xsmall { font-size: 40%; }

p.small,
span.small { font-size: 80%; }

p.big,
span.big { font-size: 120%; }

p.large,
span.large { font-size: 2.25rem; }

p.text-white, 
h1.text-white,
a.text-white { color: rgb(255, 255, 255) !important; }

.h1,
h1 { font-size: 3.5rem; }

/* override link styling */
a {
    text-decoration     : none;
    background-color    : transparent;
}

a.btn { color: rgb(255, 255, 255); }

a.navbar-brand { font-size: 2.25rem; }

.alert {
    padding             : .25rem 1.25rem;
    margin-bottom       : 1rem;
    border-top          : 1px solid transparent;
    border-bottom       : 1px solid transparent;
    border-left         : 0;
    border-right        : 0;  
    border-radius       : 0;
}

.btn {
    font-weight: 600;
    border-radius: 0.25rem;
    margin-bottom: 0;
}

/* btn-light */
.btn-light { border: 0px solid transparent; }

.btn-light:not(:disabled):not(.disabled):active,
.btn-light:not(:disabled):not(.disabled).active,
.show > .btn-light.dropdown-toggle { 
    background-color    : rgba(0, 0, 0, 0.125);
    border-color        : transparent;
}

.btn-light:not(:disabled):not(.disabled):active:focus,
.btn-light:not(:disabled):not(.disabled).active:focus,
.show > .btn-light.dropdown-toggle:focus { box-shadow: 0 0 0 0rem rgba(0, 0, 0, 0); }

/* muted text */
.text-muted { 
    color               : inherit !important;
    opacity             : 0.5;
}

/* override dropdown text */
.bootstrap-select .dropdown-menu li.active small { color: rgb(29, 39, 49)  !important; }

.bs-searchbox .form-control {
    color               : rgb(29, 39, 49) !important;
    background-color    : rgb(255, 255, 255) !important;
    border              : 0px solid rgba(0,0,0,0) !important;
    padding-left        : 15px; 
}

.bs-searchbox .form-control:focus {
    background-color    : rgb(255, 255, 255) !important;
    border-color        : rgb(29, 39, 49) !important;
    box-shadow          : 0 0 0 0.2rem rgba(29, 39, 49, 0.125) !important;
}

.form-control { padding-left: 15px; }

/* override modal */
.modal-content {
    border              : 0 !important;
    border-radius       : 0.25rem;
    box-shadow          : none;
}

/* override card */
.card { border-radius: 0; }

/* override dropdown menu */
.dropdown-menu {
    min-width           : 10rem;
    max-width           : 100%; 
    padding             : 0;
    margin              : 0;
    font-size           : 1rem;
    background-color    : rgb(255, 255, 255);
    border              : 0px solid rgba(0,0,0,0);
    border-radius       : 0;
    overflow-x          : hidden;
    transform           : translate3d(0px, 0px, 0px) !important;
}

.bootstrap-select .inner { border-top: 1px solid rgba(29, 39, 49, 0.10); }

.bs-actionsbox,
.bs-donebutton,
.bs-searchbox { padding: 0.5rem; }

.dropdown-menu .dropdown-item { 
    max-width           : 100% !important;
    background-color    : transparent; 
}

.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus {
    color               : rgb(29, 39, 49) !important;
    background-color    : rgba(29, 39, 49, 0.10) !important;
}

.dropdown-menu .dropdown-item.active,
.dropdown-menu .dropdown-item:active {
    color               : rgb(29, 39, 49) !important;
    background-color    : rgba(29, 39, 49, 0.10);
}

.dropdown-menu .dropdown-item,
.bootstrap-select .no-results {
    padding             : .5rem 1.5rem;
    color               : rgb(29, 39, 49) !important;
    background-color    : transparent;
}

/* buttons
------------------------------------ */

button.close { outline: 0; }

.btn-raised.btn-primary.btn-cta {
    padding             : 1rem 1.25rem !important;
    border-radius       : 2rem;
}

.btn-raised.btn-primary.btn-cta {
    background-color    : rgb(50, 140, 193) !important;
    border-color        : rgb(50, 140, 193) !important;
}

.btn-raised.btn-primary.btn-cta:hover,
.btn-raised.btn-primary.btn-cta:focus {
    background-color    : rgb(50, 140, 193) !important;
    border-color        : rgb(50, 140, 193) !important;
}

/* secondary button */
.btn.btn-secondary,
.btn.btn-raised.btn-secondary {
    color               : rgb(255, 255, 255);
    background-color    : rgb(29, 39, 49);
    border-color        : rgb(29, 39, 49);
}

.btn.btn-raised.btn-secondary.danger {
    background-color    : rgb(224, 33, 52);
    border-color        : rgb(224, 33, 52);  
}

.btn.btn-secondary:hover,
.btn.btn-raised.btn-secondary:hover,
.btn.btn-raised.btn-secondary:focus {
    color               : rgb(255, 255, 255);
    background-color    : rgb(29, 39, 49) !important;
    border-color        : rgb(29, 39, 49) !important;

    -webkit-filter      : opacity(.9);
    filter              : opacity(.9);
}

.btn.btn-raised.btn-secondary.danger:hover,
.btn.btn-raised.btn-secondary.danger:focus {
    background-color    : rgb(224, 33, 52) !important;
    border-color        : rgb(224, 33, 52) !important;

    -webkit-filter      : opacity(.9);
    filter              : opacity(.9);
}

.btn.btn-secondary:not(:disabled):not(.disabled):active,
.btn.btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn.btn-secondary.dropdown-toggle {
    color               : rgb(255, 255, 255);
    background-color    : rgb(29, 39, 49) ;
    border-color        : rgb(29, 39, 49) ;
}

.btn.btn-raised.btn-outline,
.btn.btn-raised.btn-outline:focus {
    font-size           : 80%;
    font-weight         : 400;
    border              : 1px solid;
    background-color    : transparent;
    padding             : 0.2rem 0.6rem !important;
    text-transform      : none;
    margin-bottom       : 1rem;
    margin-left         : 0.2rem;
    transition          : color .15s ease-in-out,
                          background-color .15s ease-in-out,
                          border-color .15s ease-in-out,
                          box-shadow .15s ease-in-out;
}

.nav-tabs .nav-link { font-weight: 600; }

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link.active { font-weight: 600; }

.tab-content { border-radius: 0; }

/* datatables */
div.dataTables_wrapper {
    width               : 100%;
    margin              : 0 auto;
    padding             : 0; 
}

thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:before {
    right               : 1.2em !important;
    bottom              : 1.1em !important;
    font-size           : 0.8em !important;
    content             : "\25B2" !important;
}

thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
    right               : 0.5em !important;
    bottom              : 1.1em !important;
    font-size           : 0.8em !important;
    content             : "\25BC" !important;
}

div.dataTables_wrapper div.dataTables_filter label { min-width: 100%; }

div.dataTables_wrapper label { margin-bottom: 0px !important; }

div.dataTables_filter input { 
    margin-left         : 0 !important; 
    min-width           : 100%;
}

div.dataTables_scroll { 
    margin-top          : 0;
    margin-bottom       : 0;
}

table.dataTable {
    margin-top          : 0px !important;
    margin-bottom       : 0px !important;
}

/* override table border */
.table td,
.table th { 
    padding             : 15px;  
    border-top          : 0px solid rgba(0,0,0,0);
    border-bottom       : 0px solid rgba(0,0,0,0);
}

.table thead th {
    font-size           : 1rem; 
    font-weight         : 700;
    opacity             : 1;
    outline             : none;
}

/* override pagination styling */
/*.page-item.active .page-link {
    color               : rgb(255, 255, 255);
    background-color    : rgb(29, 39, 49) ;
    border-color        : rgb(29, 39, 49) ;
}

.page-item.disabled .page-link {
    color               : rgba(29, 39, 49, 0.5);
    background-color    : rgb(255, 255, 255);
    border-color        : rgba(0,0,0,0);
}

.page-item:first-child .page-link,
.page-item:last-child .page-link { border-radius: 0; }

.page-link {
    color               : rgb(29, 39, 49);
    background-color    : rgb(255, 255, 255);
    border              : 0px solid rgba(0,0,0,0);
}

.page-link:hover { color: rgb(29, 39, 49) ; }

.page-link:focus,
.page-link.focus { box-shadow: 0 0 0 0.2rem rgba(14, 11, 22, 0.5); }*/

/* autocomplete styling */
.autocomplete-suggestions {
    max-height          : 282px !important;
    overflow-y          : auto;
    background-color    : rgb(255, 255, 255);
    border              : 1px solid rgba(29, 39, 49, 0.10);
    border-radius       : 0;
}

.autocomplete-suggestions .autocomplete-suggestion {
  color                 : rgb(29, 39, 49)  !important;
  background-color      : transparent;

  padding               : .375rem .75rem;
}

.autocomplete-suggestions .autocomplete-suggestion:hover,
.autocomplete-suggestions .autocomplete-suggestion:focus {
  color                 : rgb(29, 39, 49)  !important;
  background-color      : rgba(0, 0, 0, .0250);
}

.autocomplete-suggestions .autocomplete-suggestion.active,
.autocomplete-suggestions .autocomplete-suggestion:active {
  color                 : rgb(255, 255, 255) !important;
  background-color      : #A239CA;
}

/* other styling elements */
.mt-5--md { margin-top: 0; }

@media (min-width: 768px) { 
    .mt-5--md { margin-top: 3rem!important; }
}

#mainTableSearch { display: none; }

@media (min-width: 768px) { 
    #mainTableSearch {  display: inline-block; } 
}


