<section>
    <div class="container-fluid">
        <div class="row pt-5 pb-5 justify-content-center">
            <div class="col-12 col-md-8">
                <p class="text-muted small m-0">
                    <a href="" data-toggle="modal" data-target="#modalIntro" style="text-decoration: underline;">Modelmode {{ version }}</a> by <a href="https://twitter.com/sjoebergco" target="_blank" style="text-decoration: underline;">Michael Sjöberg</a> | A browser-based portfolio management application to track stocks and investments, we do not provide investment advice or facilitate trading. Financial data is gathered from third-party data sources that may be unavailable or incorrect, we do not take responsibility for potential financial losses. Stock data provided by <a href="https://iextrading.com/developer" target="_blank" style="text-decoration: underline;">IEX Group</a>, view <a href="https://iextrading.com/api-exhibit-a/" target="_blank" style="text-decoration: underline;">Terms of Use</a>. Currency conversion provided by <a href="https://free.currencyconverterapi.com/" target="_blank" style="text-decoration: underline;">Currency Converter API</a>.
                </p>
            </div>
        </div>
    </div>
</section>